@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Martel+Sans:wght@600&family=Poppins&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: black;
}

.main {
    background-image: url(/images/bg-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px 100vw);
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 112px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    color: white;
    height: calc(100%-62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: 20px;
    font-family: 'Martel Sans', sans-serif;
    padding: 150px 30px 0px 0px;
}

.hero> :first-child {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.seperation {
    height: 10px;
    background-color: grey;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main input {
    border-radius: 6px;
    padding: 16px 51px;
    font-size: 14px;
    background-color: rgba(23, 23, 23, 0.6);
    font-weight: 400;
}

.main input:hover {
    border-radius: 6px;
    padding: 16px 51px;
    font-size: 14px;
    background-color: rgba(79, 79, 79, 0.6);
    font-weight: 300;
    color: white;
}
.btn {
    padding: 5px 14px;
    background-color: rgba(26, 26, 26, 0.057);
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
.opec{
border:1px solid rgba(255, 255, 255, 0.386) ;
color: white;
}
.btn-red {

    border-radius: 6px;
    padding: 8px 25px;
    font-size: 25px;
    color: white;
    background-color: rgb(187, 2, 2);
    font-weight: 400;


}

.btn-red:hover {

    border-radius: 6px;
    padding: 8px 25px;
    font-size: 25px;
    color: white;
    background-color: rgb(152, 17, 17);
    font-weight: 400;
    cursor: pointer;


}

.btn-red-sn {
    border-radius: 6px;

    color: white;
    background-color: rgb(187, 2, 2);
    font-weight: bold;
    font-size: 19px;

}

.btn-red-sn:hover {
    border-radius: 6px;
    color: white;
    background-color: rgb(152, 17, 17);
    font-weight: bold;
    font-size: 19px;

}

/* css for main second part */